<h1 class="text-5xl">Home</h1>

<div class="card lg:card-side bordered">
  <div class="card-body">
    <h2 class="card-title">Connect to MetaMask</h2>
    <div class="break-all">Current Address: {{ currentAccount }}</div>
    <div class="break-all">Current Network: {{ currentNetwork }}</div>
    <div class="card-actions">
      <button class="btn btn-primary" (click)="onConnectToMetaMask()">Connect</button>
    </div>
  </div>
</div>

<div class="card lg:card-side bordered">
  <div class="card-body">
    <h2 class="card-title">Deploy Greeter Contract</h2>
    <div class="break-all">Contract Address: {{ contract?.address }}</div>
    <div class="break-all">Deploy Transaction Hash: {{ deployTransaction?.hash }}</div>
    <div class="card-actions">
      <button class="btn btn-primary" (click)="onDeployGreeterContract()">Deploy</button>
    </div>
  </div>
</div>

<div class="card lg:card-side bordered">
  <div class="card-body">
    <h2 class="card-title">Call greet function</h2>
    <h3>Greeting Message History</h3>
    <ng-container *ngFor="let greet of greets">
      <div>{{ greet }}</div>
    </ng-container>
    <div class="card-actions">
      <button class="btn btn-primary" (click)="onCallGreetFunction()">Greet</button>
    </div>
  </div>
</div>

<div class="card lg:card-side bordered">
  <div class="card-body">
    <h2 class="card-title">Call set greeting function</h2>
    <form #formRef="ngForm" (submit)="onCallSetGreetingFunction(newGreetingMessageRef.value)">
      <div class="form-control">
        <label class="label">
          <span class="label-text">New Greeting Message</span>
        </label>
        <input
          class="input input-bordered"
          type="text"
          #newGreetingMessageRef
          name="newGreetingMessage"
          required
        />
      </div>
      <div class="card-actions">
        <button class="btn btn-primary" [disabled]="formRef.invalid">Set New Message</button>
      </div>
    </form>
  </div>
</div>
